.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img:nth-child(1) {
  width: 150px;
  height: 150px;
  margin: 10px;
  transform: skew(-20deg); /* Prima imagine înclinată spre stânga */
}
.image-container img:nth-child(3) {
  width: 150px;
  height: 150px;
  margin: 10px;
  transform: skew(20deg); /* A treia imagine înclinată spre dreapta */
}

.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Înălțimea div-ului va fi egala cu înălțimea ecranului (viewport) */
}

.principal img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
